
<div class="module-1">
  <% for(var i=0;i<list.length;i++){ %>
  	<div class="goods">
  		<div class="box-img">
  			<a href="javascript:void(0)" detail="<%=list[i].itemId%>"><img class="loading" src="<%=list[i].picUrl%>" /></a>
  		</div>
  		<div class="box-text">
  			<a class="text1" href="javascript:void(0)" detail="<%=list[i].itemId%>"><%=list[i].title%></a>
        <p class="subtitle"><%=list[i].subtitle%></p>
  			<p class="text2"><%=list[i].amount%></p>
  			<p class="text3">¥<%=list[i].discountPriceYuanString%></p>
  			<p class="text4">原价:<%=list[i].priceYuanString%></p>
        <%if(list[i].inventory>0){%>
  			<a class="cart" item-id="<%=list[i].itemId%>" sku-id="<%=list[i].sku%>" href="javascript:void(0)"></a>
        <%}%>
      </div>
      <%if(list[i].inventory<=0){%>
        <span class="empty">卖光啦</span>
      <%}%>
  	</div>
  <% } %>
</div>
